{% extends 'front.html.twig' %}



{% block body %}


 <section class="s-pageheader">
        <div class="row current-cat">
            <div class="column">
                <h1 class="h2">Events</h1>
            </div>
        

    </section>



    <!-- masonry
    ================================================== -->
    <section class="s-bricks with-top-sep">
    
        <div class="masonry">
            <form action="#" class="nk-form nk-form-style-1" style="margin-top:10px;margin-bottom:20px; margin-left:630px;" novalidate="novalidate">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for post" id="search">

                        </div>
                    </form>
            <!-- brick-wrapper -->
            <div class="bricks-wrapper h-group">
            
                
                 <div  id="all">
                    {% include 'event/ajax.html.twig' %}
                </div>
                <div class="row vertical-gap" id="search">
                </div>
                
                

                
 
            </div> <!-- end brick-wrapper --> 
 
        </div> <!-- end masonry -->

        <div class="row">
            <div class="column large-12">
                <nav class="pgn">
                    <ul>
                        <li>
                            <a class="pgn__prev" href="#0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>
                            </a>
                        </li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li>
                            <a class="pgn__next" href="#0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                            </a>
                        </li>
                    </ul>
                </nav> <!-- end pgn -->
            </div> <!-- end column -->
        </div> <!-- end row -->

    </section>


<script
            src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}">
    </script>

    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                currentRequest = $.ajax({
                    url : "{{ path('app_searchevent') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>

{% endblock %}