{% extends 'baseBack.html.twig' %}

{% block content %}

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('front/images/about_background.jpg') }}"></div>
        <div class="home_content">
            <div class="home_title">Home</div>
        </div>
    </div>
<br>
    <br>




<br>
    <br>


    <div class="offers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="section_title">our events</h2>
                </div>
            </div>
            <div class="row offers_items">




            </div>
        </div>
    </div>


    <div class="offers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="section_title">our products</h2>
                </div>
            </div>
            <div class="row offers_items">





            </div>
        </div>
    </div>





{% endblock %}