<form method="post" action="{{ path('app_eventplace_delete', {'id': eventplace.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eventplace.id) }}">
    <button class="btn">Delete</button>
</form>
